#container{
    width: 40vh;
    height: 40vh;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.square{
    background-color: black;
    border: solid 1px white;
    color: white;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    font-size: 42px;
    height: 42px;
}
#start{
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 30px;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7vh;
    height: 80vh;
    align-items: center;
}
body{
    display: flex;
    justify-content: space-around;
}
input{
    height: 20px;
}
.input2, .input1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    gap: 30px;
}